In [1]:
import glob
from tabula import read_pdf
import pandas as pd

In [2]:
# Make a list of all the downloaded files
file_list = sorted(glob.glob('/Users/santhosh_ram/Desktop/Tea/*.pdf'))
# Specify the area in the pdf, inside which our table of interest lies.
top = 217.59
left = 134.31
height = 285.87
width = 324.61

In [3]:
#try reading a sample file
ds = read_pdf(file_list[5],pages = 1 ,area = (top,left,height+top,width+left), pandas_options = {"header": 1 })
ds.set_index(ds.columns[0])

                2017(E)   2016  Incr/Decr Incr/Decr.1
State/District
Assam Valley       0.68   0.74      -0.06       -8.11
Cachar             0.46   0.18       0.28      155.56
Assam              1.14   0.92       0.22       23.91
Dooars             1.96   0.76       1.20      157.89
Terai              2.51   1.58       0.93       58.86
Darjeeling         0.00   0.00       0.00     #DIV/0!
West Bengal        4.47   2.34       2.13       91.03
Others             0.25   0.11       0.14      127.27
NORTH INDIA        5.86   3.37       2.49       73.89
Tamilnadu          9.25   9.34      -0.09       -0.96
Kerala             3.56   4.79      -1.23      -25.68
Karnataka          0.32   0.45      -0.13      -28.89
SOUTH INDIA       13.13  14.58      -1.45       -9.95
ALL INDIA         18.99  17.95       1.04        5.79

In [4]:
# taking our value of interest. Now it is the ALL INDIA estimate for 2017
total_production = ds.iloc[-1][1]
total_production

18.989999999999998

In [5]:
total_list = []
for file in file_list:
    try:
        ds = read_pdf(file,pages = 1 ,area = (top,left,height+top,width+left), pandas_options = {"header": 1 })
        ds.set_index(ds.columns[0])
        total_production = ds.iloc[-1][1]
        total_list.append(total_production)
    except:
        print("%s has some problem"%file)
print(total_list)

[177.31999999999999, 89.890000000000001, 167.97999999999999, 70.060000000000002, 13.539999999999999, 18.989999999999998, 155.59, 143.02000000000001, 56.079999999999998, 121.33, 118.90000000000001, 145.83000000000001, 17.68]

In [6]:
#Total estimate for 2017 is
q = sum(total_list)
q

1296.21

In [7]:
#the last file is the actual production data for 2017
file_list

['/Users/santhosh_ram/Desktop/Tea/Annexure_1_Estimated_Production_pdf8467.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_Apr_2017_pdf8078.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_August_2017_pdf162.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_December_2017_pdf6394.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_February_17_pdf2107.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_January_17_pdf514.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_July_2017_pdf5866.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_June_2017_pdf21.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_March_17_pdf3157.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_May_2017_pdf3861.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_November_2017_pdf2098.pdf',
 '/Users/santhosh_ram/Desktop/Tea/Estimated_production_for_September_2017_pdf7280.pdf',
 '/Users/santhosh_ram/Desktop/Tea/State_wise_month_wise_Production_2018_Jan_to_July_and_2018_19_Apr_July_pdf6053.pdf']

In [8]:
#select the last file and the table of interest is in page 3.
df_actual = read_pdf(file_list[-1],pages = 3 , pandas_options = {"header": 0 })
df_actual.set_index(df_actual.columns[0])

,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17,2017
State/Region,,,,,,,,,,,,,
Assam Valley,0.82,0.24,19.67,41.62,57.54,65.88,84.56,96.53,80.25,97.41,57.52,25.94,627.98
Cachar,0.49,0.13,1.42,2.62,4.99,4.60,6.53,6.08,5.22,6.72,5.28,3.11,47.19
Assam,1.31,0.37,21.09,44.24,62.53,70.48,91.09,102.61,85.47,104.13,62.80,29.05,675.17
Dooars,1.96,0.93,10.53,11.11,18.92,26.79,28.14,29.28,26.18,31.24,21.65,12.85,219.58
Terai,2.52,0.69,8.80,7.28,13.62,20.56,19.88,20.35,18.93,22.34,15.15,11.60,161.72
Darjeeling,0.00,0.00,0.14,1.21,0.63,0.44,0.00,0.01,0.00,0.38,0.28,0.12,3.21
West Bengal,4.48,1.62,19.47,19.60,33.17,47.79,48.02,49.64,45.11,53.96,37.08,24.57,384.51
Others*,0.26,0.04,0.93,2.02,2.63,3.12,3.70,3.83,3.17,3.97,2.41,1.35,27.43
North India,6.05,2.03,41.49,65.86,98.33,121.39,142.81,156.08,133.75,162.06,102.29,54.97,1087.11
Tamil Nadu,9.23,8.42,10.64,19.35,18.88,18.88,14.05,14.20,12.58,15.05,14.73,10.89,166.90
Kerala,3.56,2.83,3.69,6.76,5.84,7.46,5.00,5.50,5.48,5.55,5.63,5.05,62.35
Karnataka,0.32,0.31,0.34,0.44,0.46,0.67,0.42,0.46,0.40,0.57,0.53,0.48,5.40
South India,13.11,11.56,14.67,26.55,25.18,27.01,19.47,20.16,18.46,21.17,20.89,16.42,234.65
All India,19.16,13.59,56.16,92.41,123.51,148.40,162.28,176.24,152.21,183.23,123.18,71.39,1321.76

In [10]:
p = df_actual.iloc[-1][-1]
diff = p - q
error_estimation = (diff/q)*100
diff

25.549999999999955

In [14]:
print("The total percentage error in estimation of teaboard of india is %s "%error_estimation)

The total percentage error in estimation of teaboard of india is 1.97113122102